user  {{ nginx_user }};

worker_processes auto;
pid        {{ nginx_pidfile }};
include {{ nginx_base_dir }}/modules-enabled/*.conf;

events {
        worker_connections {{ nginx_worker_connections }};
}

http {
        ##
        # Basic Settings
        ##

        sendfile {{ nginx_sendfile }};
        tcp_nopush {{ nginx_tcp_nopush }};
        tcp_nodelay {{ nginx_tcp_nodelay }};
        keepalive_timeout {{ nginx_keepalive_timeout }};
        types_hash_max_size {{ nginx_types_hash_max_size }};

        include {{ nginx_base_dir }}/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;

        ##
        # Logging Settings
        ##

        access_log {{ nginx_log_dir }}/access.log;
        error_log {{ nginx_log_dir }}/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;
        gzip_disable "msie6";

        include {{ nginx_base_dir }}/conf.d/*.conf;
        include {{ nginx_base_dir }}/sites-enabled/*;

{% block http_upstream %}
{% for upstream in nginx_upstreams %}
        upstream {{ upstream.name }} {
{% if upstream.strategy is defined %}
          {{ upstream.strategy }};
{% endif %}
{% for server in upstream.servers %}
          server {{ server }};
{% endfor %}
        }
{% endfor %}
{% endblock %}

}